.center-v {
    text-align: center !important;
    margin: 0 auto !important;
}
.card {
    display: flex;
    justify-content: space-between;
    margin: 20px auto;
    width: 70%;
}
.inerdiv {
    display: flex;
}
.add-button {
    display: flex;
    justify-content: center;
}
.form {
    width: 100%;
    padding: 15px;
}
.title {
    margin-top: 15px !important;
    display: block !important;
}
.add-todo {
    margin: 15px 0 15px 0;
    display: flex;
    justify-content: center;
}
.edit {
    z-index: 1;
    position: absolute;
    top: 15vh;
    left: 15%;
    background-color: rgb(247, 247, 247) !important;
    box-shadow: rgb(144, 144, 144) 0px 0px 20px 3px !important;
}
.back-buton {
    display: flex;
    justify-content: center;
}
